body {
    font-family: 'Playfair Display', serif;
    font-size: 14px; 
    color: #626262;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 147px;
    padding-right: 147px;
}



.nav {
    margin-top: 70px;
    margin-bottom: 90px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-list-item:not(:last-child) {
    margin-right: 100px;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #03A9F4;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 130px 65px;
}

.main-item {
    flex-basis: calc((100% - 65px) / 2);
}

.main-img {
    margin-bottom: 60px;
}

.main-category {
    font-family: 'Ubuntu';
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #B4AD9E;
margin-bottom: 32px;
}

.main-list-title {
    font-family: 'Playfair Display';
font-weight: 400;
font-size: 30px;
line-height: 40px;
color: #626262;
}

.button {
    width: 165px;
    height: 60px;
    border: 1px solid #626262;
    margin-top: 94px;
    margin-bottom: 66px;
}

.btn {
    display: flex;
    justify-content: center;
}